<zk>
    <window viewModel="@id('vm') @init('demo.TreeView')">
        <hlayout>
            <organigram id="organ" width="800px" model="@load(vm.model)" context="popup">
                <template name="model">
                    <orgitem open="@load(each.open)" draggable="true" droppable="true"
                             onDrop="@command('dragAndDrop', drag = event.dragged.value, drop = each)">
                        <orgnode>

                            <vlayout>
                                <div context="@load(self.firstChild)">
                                    <menupopup>
                                        <menuitem label="New" iconSclass="z-icon-file"
                                                  onClick="@command('newItem', parent = each)"/>
                                        <menuitem label="Edit" iconSclass="z-icon-pencil-square"
                                                  onClick="@command('edit', item = each)"/>
                                        <menuitem label="Delete" iconSclass="z-icon-trash"
                                                  onClick="@command('delete', item = each)"/>
                                        <menuitem label="Comment" iconSclass="z-icon-comment"
                                                  onClick="@command('openComment', item = each)"/>
                                        <menuseparator/>
                                        <menuitem label="More..." iconSclass="z-icon-question"
                                                  onClick="@command('moreRequest')"/>
                                    </menupopup>
                                    <span sclass="z-icon-folder-open"/>
                                    <label value="@load(each.name)" visible="@load(!each.edit)"/>
                                </div>

                                <hbox visible="@load(each.edit)">
                                    <textbox value="@bind(each.name)" width="100px"/>
                                    <button label="OK" onClick="@command('closeEdit', item = each)"/>
                                </hbox>
                                <button visible="@load(vm.getCommentsCount(each) gt 0)" iconSclass="z-icon-comment"
                                        label="@load(vm.getCommentsCount(each))"
                                        onClick="self.parent.children.get(3).firstChild.doPopup()"/>
                                <span>
                                    <window width="500px" border="none" position="parent" mode="popup"
                                            visible="@load(each.popup)">
                                        <grid model="@load(vm.getComments(each.id))">
                                            <template name="model">
                                                <row>
                                                    <div>
                                                        ${each.content} - ${each.createTime}
                                                    </div>
                                                </row>
                                            </template>
                                        </grid>
                                        <space/>
                                        <textbox width="100%" placeholder="New comment"
                                                 onOK="@command('addComment', comment = self.value, item = each)"/>

                                    </window>
                                </span>
                            </vlayout>
                        </orgnode>
                    </orgitem>
                </template>
            </organigram>
            <vlayout id="vl" visible="false" width="800px">
                <grid model="@load(vm.itemHasC) @template('itemG')">
                    <template name="itemG" var="item">
                        <row>
                            <groupbox mold="3d" title="@load(item.name)">
                                <grid model="@load(vm.getComments(item.id))">
                                    <template name="model">
                                        <row>
                                            <div>
                                                ${each.content} - ${each.createTime}
                                            </div>
                                        </row>
                                    </template>
                                </grid>
                            </groupbox>
                        </row>
                    </template>
                </grid>
            </vlayout>
        </hlayout>
        <button label="Show all comments" onClick="vl.visible=!vl.visible"/>
        <button label="Show Info" onClick="fi.open()"/>
        <drawer id="fi" title="Information" autodrop="true" closable="true">
            <grid>
                <columns>
                    <column/>
                    <column/>
                </columns>
                <rows>
                    <row>
                        <label value="Author"/>
                        Trung
                    </row>
                    <row>
                        <label value="Number of Nodes"/>
                        <label value="@load(vm.model.rawList.size())"/>
                    </row>
                    <row>
                        <label value="Note"/>
                        <label value="Right click on Nodes to do cool things!"/>
                    </row>
                </rows>
            </grid>
        </drawer>
        <menupopup id="popup">
            <menuitem label="More..." iconSclass="z-icon-question" onClick="@command('moreRequest')"/>
        </menupopup>
    </window>
</zk>